
/* Dropdowns */
.dropdown .dropdown-menu {
   margin-top: 0.75rem;
   font-size: 0.875rem;
   box-shadow: none;
 }
 .dropdown .dropdown-menu .dropdown-item {
   font-size: 1rem;
   padding: 0.25rem 1.5rem;
 }
 .dropdown .dropdown-menu .dropdown-item:active {
   background: initial;
 }

 /* Forms */
 .form-group {
   margin-bottom: 1rem;
 }

 .input-group-append,
 .input-group-prepend {
   color: #4b5564;
   width: auto;
   border: none;
 }

.form-control.form-control-lg,
.form-control-lg.asColorPicker-input,
.dataTables_wrapper select.form-control-lg,
.jsgrid .jsgrid-table .jsgrid-filter-row input.form-control-lg[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select.form-control-lg,
.jsgrid .jsgrid-table .jsgrid-filter-row input.form-control-lg[type="number"],
.select2-container--default .form-control-lg.select2-selection--single,
.select2-container--default
  .select2-selection--single
  .form-control-lg.select2-search__field,
.form-control-lg.typeahead,
.form-control-lg.tt-query,
.form-control-lg.tt-hint {
  padding: 0.94rem 0.75rem;
  height: calc(2.875rem + 2px);
}
.form-control.form-control-sm,
.form-control-sm.asColorPicker-input,
.dataTables_wrapper select.form-control-sm,
.jsgrid .jsgrid-table .jsgrid-filter-row input.form-control-sm[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select.form-control-sm,
.jsgrid .jsgrid-table .jsgrid-filter-row input.form-control-sm[type="number"],
.select2-container--default .form-control-sm.select2-selection--single,
.select2-container--default
  .select2-selection--single
  .form-control-sm.select2-search__field,
.form-control-sm.typeahead,
.form-control-sm.tt-query,
.form-control-sm.tt-hint {
  padding: 0.5rem 0.75rem;
  height: calc(1.8125rem + 2px);
}
.form-control::placeholder,
.asColorPicker-input::placeholder,
.dataTables_wrapper select::placeholder,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="text"]::placeholder,
.jsgrid .jsgrid-table .jsgrid-filter-row select::placeholder,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="number"]::placeholder,
.select2-container--default .select2-selection--single::placeholder,
.select2-container--default
  .select2-selection--single
  .select2-search__field::placeholder,
.typeahead::placeholder,
.tt-query::placeholder,
.tt-hint::placeholder {
  color: #6c7293;
  font-size: 0.875rem;
}

.navbar .form-control,
.navbar .asColorPicker-input,
.navbar .dataTables_wrapper select,
.dataTables_wrapper .navbar select,
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row input[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar input[type="text"],
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row select,
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar select,
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row input[type="number"],
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar input[type="number"],
.navbar .select2-container--default .select2-selection--single,
.select2-container--default .navbar .select2-selection--single,
.navbar
  .select2-container--default
  .select2-selection--single
  .select2-search__field,
.select2-container--default
  .select2-selection--single
  .navbar
  .select2-search__field,
.navbar .typeahead,
.navbar .tt-query,
.navbar .tt-hint {
  width: 75%;
  border-radius: 6px;
}
.navbar .form-control:focus,
.navbar .asColorPicker-input:focus,
.navbar .dataTables_wrapper select:focus,
.dataTables_wrapper .navbar select:focus,
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar input:focus[type="text"],
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar select:focus,
.navbar .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="number"],
.jsgrid .jsgrid-table .jsgrid-filter-row .navbar input:focus[type="number"],
.navbar .select2-container--default .select2-selection--single:focus,
.select2-container--default .navbar .select2-selection--single:focus,
.navbar
  .select2-container--default
  .select2-selection--single
  .select2-search__field:focus,
.select2-container--default
  .select2-selection--single
  .navbar
  .select2-search__field:focus,
.navbar .typeahead:focus,
.navbar .tt-query:focus,
.navbar .tt-hint:focus {
  border: none;
}

select.form-control:focus,
select.asColorPicker-input:focus,
.dataTables_wrapper select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select:focus,
.select2-container--default select.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.select2-search__field:focus,
select.typeahead:focus,
select.tt-query:focus,
select.tt-hint:focus {
  outline: 1px solid #2c2e33;
}
select.form-control.border-primary,
select.border-primary.asColorPicker-input,
.dataTables_wrapper select.border-primary,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-primary,
.select2-container--default select.border-primary.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-primary.select2-search__field,
select.border-primary.typeahead,
select.border-primary.tt-query,
select.border-primary.tt-hint {
  outline: 1px solid var(--bs-primary);
}
select.form-control.border-primary:focus,
select.border-primary.asColorPicker-input:focus,
.dataTables_wrapper select.border-primary:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-primary:focus,
.select2-container--default
  select.border-primary.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-primary.select2-search__field:focus,
select.border-primary.typeahead:focus,
select.border-primary.tt-query:focus,
select.border-primary.tt-hint:focus {
  outline: 1px solid var(--bs-primary);
}
select.form-control.border-secondary,
select.form-control.loader-demo-box,
select.loader-demo-box.asColorPicker-input,
.dataTables_wrapper select.loader-demo-box,
.jsgrid .jsgrid-table .jsgrid-filter-row select.loader-demo-box,
.select2-container--default select.loader-demo-box.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.loader-demo-box.select2-search__field,
select.loader-demo-box.typeahead,
select.loader-demo-box.tt-query,
select.loader-demo-box.tt-hint,
select.border-secondary.asColorPicker-input,
.dataTables_wrapper select.border-secondary,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-secondary,
.select2-container--default select.border-secondary.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-secondary.select2-search__field,
select.border-secondary.typeahead,
select.border-secondary.tt-query,
select.border-secondary.tt-hint {
  outline: 1px solid #e4eaec;
}
select.form-control.border-secondary:focus,
select.form-control.loader-demo-box:focus,
select.loader-demo-box.asColorPicker-input:focus,
.dataTables_wrapper select.loader-demo-box:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.loader-demo-box:focus,
.select2-container--default
  select.loader-demo-box.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.loader-demo-box.select2-search__field:focus,
select.loader-demo-box.typeahead:focus,
select.loader-demo-box.tt-query:focus,
select.loader-demo-box.tt-hint:focus,
select.border-secondary.asColorPicker-input:focus,
.dataTables_wrapper select.border-secondary:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-secondary:focus,
.select2-container--default
  select.border-secondary.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-secondary.select2-search__field:focus,
select.border-secondary.typeahead:focus,
select.border-secondary.tt-query:focus,
select.border-secondary.tt-hint:focus {
  outline: 1px solid #e4eaec;
}
select.form-control.border-success,
select.border-success.asColorPicker-input,
.swal2-modal
  .swal2-buttonswrapper
  select.asColorPicker-input.swal2-styled.swal2-confirm,
.dataTables_wrapper select.border-success,
.dataTables_wrapper
  .swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm,
.swal2-modal
  .swal2-buttonswrapper
  .dataTables_wrapper
  select.swal2-styled.swal2-confirm,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-success,
.jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  .swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm,
.swal2-modal
  .swal2-buttonswrapper
  .jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  select.swal2-styled.swal2-confirm,
.select2-container--default select.border-success.select2-selection--single,
.select2-container--default
  .swal2-modal
  .swal2-buttonswrapper
  select.select2-selection--single.swal2-styled.swal2-confirm,
.swal2-modal
  .swal2-buttonswrapper
  .select2-container--default
  select.select2-selection--single.swal2-styled.swal2-confirm,
.select2-container--default
  .select2-selection--single
  select.border-success.select2-search__field,
.select2-container--default
  .select2-selection--single
  .swal2-modal
  .swal2-buttonswrapper
  select.select2-search__field.swal2-styled.swal2-confirm,
.swal2-modal
  .swal2-buttonswrapper
  .select2-container--default
  .select2-selection--single
  select.select2-search__field.swal2-styled.swal2-confirm,
.swal2-modal
  .swal2-buttonswrapper
  select.form-control.swal2-styled.swal2-confirm,
.swal2-modal .swal2-buttonswrapper select.swal2-styled.swal2-confirm.typeahead,
.swal2-modal .swal2-buttonswrapper select.swal2-styled.swal2-confirm.tt-query,
.swal2-modal .swal2-buttonswrapper select.swal2-styled.swal2-confirm.tt-hint,
select.border-success.typeahead,
select.border-success.tt-query,
select.border-success.tt-hint {
  outline: 1px solid #00d25b;
}
select.form-control.border-success:focus,
select.border-success.asColorPicker-input:focus,
.swal2-modal
  .swal2-buttonswrapper
  select.asColorPicker-input.swal2-styled.swal2-confirm:focus,
.dataTables_wrapper select.border-success:focus,
.dataTables_wrapper
  .swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  .dataTables_wrapper
  select.swal2-styled.swal2-confirm:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-success:focus,
.jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  .swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  .jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  select.swal2-styled.swal2-confirm:focus,
.select2-container--default
  select.border-success.select2-selection--single:focus,
.select2-container--default
  .swal2-modal
  .swal2-buttonswrapper
  select.select2-selection--single.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  .select2-container--default
  select.select2-selection--single.swal2-styled.swal2-confirm:focus,
.select2-container--default
  .select2-selection--single
  select.border-success.select2-search__field:focus,
.select2-container--default
  .select2-selection--single
  .swal2-modal
  .swal2-buttonswrapper
  select.select2-search__field.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  .select2-container--default
  .select2-selection--single
  select.select2-search__field.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  select.form-control.swal2-styled.swal2-confirm:focus,
.swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm.typeahead:focus,
.swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm.tt-query:focus,
.swal2-modal
  .swal2-buttonswrapper
  select.swal2-styled.swal2-confirm.tt-hint:focus,
select.border-success.typeahead:focus,
select.border-success.tt-query:focus,
select.border-success.tt-hint:focus {
  outline: 1px solid #00d25b;
}
select.form-control.border-info,
select.border-info.asColorPicker-input,
.dataTables_wrapper select.border-info,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-info,
.select2-container--default select.border-info.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-info.select2-search__field,
select.border-info.typeahead,
select.border-info.tt-query,
select.border-info.tt-hint {
  outline: 1px solid #8f5fe8;
}
select.form-control.border-info:focus,
select.border-info.asColorPicker-input:focus,
.dataTables_wrapper select.border-info:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-info:focus,
.select2-container--default select.border-info.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-info.select2-search__field:focus,
select.border-info.typeahead:focus,
select.border-info.tt-query:focus,
select.border-info.tt-hint:focus {
  outline: 1px solid #8f5fe8;
}
select.form-control.border-warning,
select.border-warning.asColorPicker-input,
.dataTables_wrapper select.border-warning,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-warning,
.select2-container--default select.border-warning.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-warning.select2-search__field,
select.border-warning.typeahead,
select.border-warning.tt-query,
select.border-warning.tt-hint {
  outline: 1px solid #ffab00;
}
select.form-control.border-warning:focus,
select.border-warning.asColorPicker-input:focus,
.dataTables_wrapper select.border-warning:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-warning:focus,
.select2-container--default
  select.border-warning.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-warning.select2-search__field:focus,
select.border-warning.typeahead:focus,
select.border-warning.tt-query:focus,
select.border-warning.tt-hint:focus {
  outline: 1px solid #ffab00;
}
select.form-control.border-danger,
select.border-danger.asColorPicker-input,
.dataTables_wrapper select.border-danger,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-danger,
.select2-container--default select.border-danger.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-danger.select2-search__field,
select.border-danger.typeahead,
select.border-danger.tt-query,
select.border-danger.tt-hint {
  outline: 1px solid #fc424a;
}
select.form-control.border-danger:focus,
select.border-danger.asColorPicker-input:focus,
.dataTables_wrapper select.border-danger:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-danger:focus,
.select2-container--default
  select.border-danger.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-danger.select2-search__field:focus,
select.border-danger.typeahead:focus,
select.border-danger.tt-query:focus,
select.border-danger.tt-hint:focus {
  outline: 1px solid #fc424a;
}
select.form-control.border-light,
select.border-light.asColorPicker-input,
.dataTables_wrapper select.border-light,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-light,
.select2-container--default select.border-light.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-light.select2-search__field,
select.border-light.typeahead,
select.border-light.tt-query,
select.border-light.tt-hint {
  outline: 1px solid #ffffff;
}
select.form-control.border-light:focus,
select.border-light.asColorPicker-input:focus,
.dataTables_wrapper select.border-light:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-light:focus,
.select2-container--default select.border-light.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-light.select2-search__field:focus,
select.border-light.typeahead:focus,
select.border-light.tt-query:focus,
select.border-light.tt-hint:focus {
  outline: 1px solid #ffffff;
}
select.form-control.border-dark,
select.border-dark.asColorPicker-input,
.dataTables_wrapper select.border-dark,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-dark,
.select2-container--default select.border-dark.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.border-dark.select2-search__field,
select.border-dark.typeahead,
select.border-dark.tt-query,
select.border-dark.tt-hint {
  outline: 1px solid #0d0d0d;
}
select.form-control.border-dark:focus,
select.border-dark.asColorPicker-input:focus,
.dataTables_wrapper select.border-dark:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row select.border-dark:focus,
.select2-container--default select.border-dark.select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  select.border-dark.select2-search__field:focus,
select.border-dark.typeahead:focus,
select.border-dark.tt-query:focus,
select.border-dark.tt-hint:focus {
  outline: 1px solid #0d0d0d;
}

.form-group label {
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: top;
}

.form-group.has-danger .form-control,
.form-group.has-danger .asColorPicker-input,
.form-group.has-danger .dataTables_wrapper select,
.dataTables_wrapper .form-group.has-danger select,
.form-group.has-danger
  .jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  input[type="text"],
.jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  .form-group.has-danger
  input[type="text"],
.form-group.has-danger .jsgrid .jsgrid-table .jsgrid-filter-row select,
.jsgrid .jsgrid-table .jsgrid-filter-row .form-group.has-danger select,
.form-group.has-danger
  .jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  input[type="number"],
.jsgrid
  .jsgrid-table
  .jsgrid-filter-row
  .form-group.has-danger
  input[type="number"],
.form-group.has-danger .select2-container--default .select2-selection--single,
.select2-container--default .form-group.has-danger .select2-selection--single,
.form-group.has-danger
  .select2-container--default
  .select2-selection--single
  .select2-search__field,
.select2-container--default
  .select2-selection--single
  .form-group.has-danger
  .select2-search__field,
.form-group.has-danger .typeahead,
.form-group.has-danger .tt-query,
.form-group.has-danger .tt-hint {
  border-color: #fc424a;
}

.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}

.form-group .file-upload-info {
  background: transparent;
}

.form-check {
  min-height: 18px;
  padding-left: 1.25rem;
}

div.tagsinput {
  background: transparent;
}

.table thead th i,
.jsgrid .jsgrid-table thead th i {
  margin-left: 0.325rem;
}
.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  padding: 0.9375rem;
}
.table th img,
.jsgrid .jsgrid-table th img,
.table td img,
.jsgrid .jsgrid-table td img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.table th .badge,
.jsgrid .jsgrid-table th .badge,
.table td .badge,
.jsgrid .jsgrid-table td .badge {
  margin-bottom: 0;
}
.table.table-borderless,
.jsgrid .table-borderless.jsgrid-table {
  border: none;
}
.table.table-borderless tr,
.jsgrid .table-borderless.jsgrid-table tr,
.table.table-borderless td,
.jsgrid .table-borderless.jsgrid-table td,
.table.table-borderless th,
.jsgrid .table-borderless.jsgrid-table th {
  border: none;
}
.table .table-dark,
.jsgrid .jsgrid-table .table-dark {
  background: #212529;
}
.table.table-contextual,
.jsgrid .table-contextual.jsgrid-table {
  color: #ffffff;
}

.table > :not(:first-child),
.jsgrid .jsgrid-table > :not(:first-child),
.jsgrid .jsgrid-table > :not(:first-child) {
  border-top: none;
}

@media (max-width: 576px) {
   .nav-tabs .nav-link {
     padding: 0.3rem 0.5rem;
   }
 }

 .nav-tabs .nav-item:first-child .nav-link {
   border-radius: 4px 0 0 0;
 }

 .nav-tabs .nav-item:last-child .nav-link {
   border-radius: 0 4px 0 0;
 }

 .nav-tabs.nav-tabs-vertical,
 .nav-tabs.nav-tabs-vertical-custom {
   border-bottom: 0;
 }
 .nav-tabs.nav-tabs-vertical .nav-link.active,
 .nav-tabs.nav-tabs-vertical-custom .nav-link.active {
   border-bottom-color: #2c2e33;
 }
 .nav-tabs.nav-tabs-vertical .nav-item:first-child .nav-link,
 .nav-tabs.nav-tabs-vertical-custom .nav-item:first-child .nav-link {
   border-radius: 4px 4px 0 0;
 }
 .nav-tabs.nav-tabs-vertical .nav-item:last-child .nav-link,
 .nav-tabs.nav-tabs-vertical-custom .nav-item:last-child .nav-link {
   border-radius: 0 0 4px 4px;
 }

 .nav-tabs.nav-tabs-vertical-custom {
   background: var(--bs-primary);
   border-radius: 4px;
 }
 .nav-tabs.nav-tabs-vertical-custom .nav-link {
   background: transparent;
   border-color: rgba(255, 255, 255, 0.2);
   color: #00314e;
   font-weight: 700;
   padding: 1.75rem;
 }
 .nav-tabs.nav-tabs-vertical-custom .nav-link.active {
   color: #ffffff;
   border-color: rgba(255, 255, 255, 0.2);
 }

 .nav-pills .nav-link {
   border: 1px solid #2c2e33;
   padding: 0.5rem 1.5rem;
 }
 @media (max-width: 576px) {
   .nav-pills .nav-link {
     padding: 0.3rem 0.5rem;
   }
 }
 .nav-pills .nav-item {
   margin-right: 1rem;
 }
 @media (max-width: 576px) {
   .nav-pills .nav-item {
     margin-right: 0.5rem;
     font-size: 0.675;
   }
 }
 .nav-pills.nav-pills-vertical {
   border-bottom: 0;
 }
 .nav-pills.nav-pills-vertical .nav-item {
   margin-right: 0;
   margin-bottom: 1rem;
 }
 .nav-pills.nav-pills-custom {
   border-bottom: 0;
 }
 .nav-pills.nav-pills-custom .nav-link {
   border-radius: 20px;
   padding: 0.5rem 2.5rem;
   background: #8489ab;
   color: #000000;
 }
 @media (max-width: 576px) {
   .nav-pills.nav-pills-custom .nav-link {
     padding: 0.3rem 0.5rem;
   }
 }
 .nav-pills.nav-pills-custom .nav-link.active {
   background: #fc424a;
   color: #ffffff;
 }

 /* gradient pills */
 .nav-pills-primary .nav-link {
   color: var(--bs-primary);
 }
 .nav-pills-primary .nav-link.active {
   background: theme-color(primary);
 }

 .nav-pills-secondary .nav-link {
   color: #e4eaec;
 }
 .nav-pills-secondary .nav-link.active {
   background: theme-color(secondary);
 }

 .nav-pills-success .nav-link {
   color: #00d25b;
 }
 .nav-pills-success .nav-link.active {
   background: theme-color(success);
 }

 .nav-pills-info .nav-link {
   color: #8f5fe8;
 }
 .nav-pills-info .nav-link.active {
   background: theme-color(info);
 }

 .nav-pills-warning .nav-link {
   color: #ffab00;
 }
 .nav-pills-warning .nav-link.active {
   background: theme-color(warning);
 }

 .nav-pills-danger .nav-link {
   color: #fc424a;
 }
 .nav-pills-danger .nav-link.active {
   background: theme-color(danger);
 }

 .nav-pills-light .nav-link {
   color: #ffffff;
 }
 .nav-pills-light .nav-link.active {
   background: theme-color(light);
 }

 .nav-pills-dark .nav-link {
   color: #0d0d0d;
 }
 .nav-pills-dark .nav-link.active {
   background: theme-color(dark);
 }

 .tab-content {
   border: 1px solid #2c2e33;
   border-top: 0;
   padding: 2rem 1rem;
   text-align: justify;
 }

 .tab-content.tab-content-vertical-custom {
   border: 0;
   padding-top: 0;
 }
 .tab-content.tab-content-custom-pill {
   border: 0;
   padding-left: 0;
 }

 /* Tabs */
 .add-items {
   margin-bottom: 1.5rem;
   overflow: hidden;
 }
 .add-items input[type="text"] {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 100%;
   background: transparent;
 }
 .add-items .btn,
 .add-items .fc button,
 .fc .add-items button,
 .add-items .ajax-upload-dragdrop .ajax-file-upload,
 .ajax-upload-dragdrop .add-items .ajax-file-upload,
 .add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
 .swal2-modal .swal2-buttonswrapper .add-items .swal2-styled {
   margin-left: 0.5rem;
 }
 .rtl .add-items .btn,
 .rtl .add-items .fc button,
 .fc .rtl .add-items button,
 .rtl .add-items .ajax-upload-dragdrop .ajax-file-upload,
 .ajax-upload-dragdrop .rtl .add-items .ajax-file-upload,
 .rtl .add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
 .swal2-modal .swal2-buttonswrapper .rtl .add-items .swal2-styled {
   margin-left: auto;
   margin-right: 0.5rem;
 }

 .list-wrapper {
   height: 100%;
   max-height: 100%;
 }
 .list-wrapper ul {
   padding: 0;
   text-align: left;
   list-style: none;
   margin-bottom: 0;
 }

 .list-wrapper ul li:first-child {
   border-bottom: none;
 }
 .list-wrapper ul li .form-check {
   max-width: 90%;
   margin-top: 0.25rem;
   margin-bottom: 0.25rem;
 }
 .list-wrapper input[type="checkbox"] {
   margin-right: 15px;
 }
 .list-wrapper .remove {
   cursor: pointer;
   font-size: 1.125rem;
   font-weight: 600;
   width: 1.25rem;
   height: 1.25rem;
   line-height: 20px;
   text-align: center;
 }
 .list-wrapper .completed {
   text-decoration: line-through;
   text-decoration-color: var(--bs-primary);
 }

 /* Context Menu */
 .context-menu-icon:before {
   color: #000000;
   font: normal normal normal 15px/1 "Material Design Icons";
 }

 .context-menu-icon.context-menu-icon-cut:before {
   content: "\F190";
 }

 .context-menu-icon.context-menu-icon-edit:before {
   content: "\F3EF";
 }

 .context-menu-icon.context-menu-icon-copy:before {
   content: "\F18F";
 }

 .context-menu-icon.context-menu-icon-paste:before {
   content: "\F613";
 }

 .context-menu-icon.context-menu-icon-delete:before {
   content: "\F6CB";
 }

 .context-menu-icon.context-menu-icon-quit:before {
   content: "\F156";
 }

 .context-menu-list {
   box-shadow: none;
   border: 1px solid #2c2e33;
 }
 .context-menu-list .context-menu-item span {
   color: #000000;
   font-size: 0.75rem;
   font-weight: 700;
 }

 .context-menu-list .context-menu-item.context-menu-hover span {
   color: #ffffff;
 }

 /* Data Tables */
 .dataTables_wrapper {
   padding-left: 0;
   padding-right: 0;
 }
 .dataTables_wrapper label {
   font-size: 0.8125rem;
 }
 .dataTables_wrapper select {
   padding: 0.4rem;
 }
 .dataTables_wrapper .dataTables_length select {
   min-width: 65px;
   margin-left: 0.25rem;
   margin-right: 0.25rem;
 }
 .dataTables_wrapper .dataTable .btn,
 .dataTables_wrapper .dataTable .fc button,
 .fc .dataTables_wrapper .dataTable button,
 .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload,
 .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload,
 .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled,
 .swal2-modal
   .swal2-buttonswrapper
   .dataTables_wrapper
   .dataTable
   .swal2-styled {
   padding: 0.1rem 1rem;
   vertical-align: top;
 }
 .dataTables_wrapper .dataTable thead th {
   border-bottom-width: 0;
 }
 .dataTables_wrapper .dataTable thead .sorting:before,
 .dataTables_wrapper .dataTable thead .sorting:after,
 .dataTables_wrapper .dataTable thead .sorting_asc:before,
 .dataTables_wrapper .dataTable thead .sorting_asc:after,
 .dataTables_wrapper .dataTable thead .sorting_desc:before,
 .dataTables_wrapper .dataTable thead .sorting_desc:after,
 .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
 .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
 .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before,
 .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
   line-height: 2.5;
   font-family: Material Design Icons;
   font-size: 0.65rem;
 }
 .dataTables_wrapper .dataTable thead .sorting:before,
 .dataTables_wrapper .dataTable thead .sorting_asc:before,
 .dataTables_wrapper .dataTable thead .sorting_desc:before,
 .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
 .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
   content: "\F05D";
   right: 1.2em;
 }
 .dataTables_wrapper .dataTable thead .sorting:after,
 .dataTables_wrapper .dataTable thead .sorting_asc:after,
 .dataTables_wrapper .dataTable thead .sorting_desc:after,
 .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
 .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
   content: "\F045";
   right: 0.2em;
 }
 .dataTables_wrapper .dataTables_paginate {
   margin-top: 20px;
 }
 .dataTables_wrapper .dataTables_info {
   font-size: 0.875rem;
 }

 /* Select2 */
 .select2-container--default
   .select2-results__option--highlighted[aria-selected] {
   background: var(--bs-primary);
 }

.swal2-modal .swal2-icon,
.swal2-modal .swal2-success-ring {
  margin-top: 0;
  margin-bottom: 42px;
}
.swal2-modal .swal2-buttonswrapper {
  margin-top: 0;
  padding: 0;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled {
  margin-top: 0;
  font-weight: initial;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm {
  font-weight: initial;
  margin-top: 32px;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel {
  margin-top: 32px;
  border: 1px solid #2c2e33;
  color: #ffffff;
  font-weight: initial;
}
.swal2-modal .swal2-content {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  font-weight: initial;
  margin-top: 11px;
}
.swal2-modal .swal2-close {
  font-size: 20px;
}
.swal2-modal .swal2-success-ring {
  left: -30px;
}

@media (max-width: 992px) {
   .navbar {
     left: 0;
   }
 }
 .navbar .navbar-brand-wrapper {
   transition: width 0.25s ease, background 0.25s ease;
   -webkit-transition: width 0.25s ease, background 0.25s ease;
   -moz-transition: width 0.25s ease, background 0.25s ease;
   -ms-transition: width 0.25s ease, background 0.25s ease;
   background: #191c24;
   width: 244px;
   height: 70px;
 }
 @media (max-width: 991px) {
   .navbar .navbar-brand-wrapper {
     width: 55px;
   }
 }
 .navbar .navbar-brand-wrapper .navbar-brand {
   color: #38425e;
   font-size: 1.5rem;
   line-height: 48px;
   margin-right: 0;
   padding: 0rem 0rem 0rem 1.3rem;
   width: 100%;
 }
 .navbar .navbar-brand-wrapper .navbar-brand:active,
 .navbar .navbar-brand-wrapper .navbar-brand:focus,
 .navbar .navbar-brand-wrapper .navbar-brand:hover {
   color: #252b3e;
 }
 .navbar .navbar-brand-wrapper .navbar-brand img {
   width: calc(244px - 120px);
   max-width: 100%;
   height: 28px;
   margin: auto;
   vertical-align: middle;
 }
 .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
   display: none;
 }
 .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
   width: calc(70px - 50px);
   max-width: 100%;
   height: 28px;
   margin: auto;
 }
 .navbar .navbar-menu-wrapper {
   transition: width 0.25s ease;
   -webkit-transition: width 0.25s ease;
   -moz-transition: width 0.25s ease;
   -ms-transition: width 0.25s ease;
   box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
   color: #ffffff;
   padding-left: 15px;
   padding-right: 15px;
   width: 100%;
   height: 70px;
 }
 .rtl .navbar .navbar-menu-wrapper {
   box-shadow: -34px 19px 34px -15px #000000;
   -webkit-box-shadow: -34px 19px 34px -15px #000000;
   -moz-box-shadow: -34px 19px 34px -15px #000000;
 }
 @media (max-width: 991px) {
   .navbar .navbar-menu-wrapper {
     width: auto;
     padding-left: 15px;
     padding-right: 15px;
   }
 }
 .navbar .navbar-menu-wrapper .navbar-toggler {
   border: 0;
   color: #6c7293;
   height: 70px;
   border-radius: 0px;
 }
 .navbar .navbar-menu-wrapper .navbar-toggler:focus {
   box-shadow: none;
 }
 .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
   font-size: 0.875rem;
 }
 @media (max-width: 991px) {
   .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
     display: none;
   }
 }
 @media (max-width: 991px) {
   .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
     padding-left: 15px;
     padding-right: 11px;
     border-right: none;
   }
 }
 .navbar .navbar-menu-wrapper .search-field .input-group input,
 .navbar .navbar-menu-wrapper .search-field .asColorPicker-wrap input {
   font-size: 0.875rem;
   padding: 0.5rem;
 }
 .navbar
   .navbar-menu-wrapper
   .search-field
   .input-group
   input:-ms-input-placeholder,
 .navbar
   .navbar-menu-wrapper
   .search-field
   .asColorPicker-wrap
   input:-ms-input-placeholder {
   font-size: 0.9375rem;
   color: #ffffff;
   font-weight: 300;
 }
 .navbar .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder,
 .navbar
   .navbar-menu-wrapper
   .search-field
   .asColorPicker-wrap
   input:-moz-placeholder {
   font-size: 0.9375rem;
   color: #ffffff;
   font-weight: 300;
 }
 .navbar .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder,
 .navbar
   .navbar-menu-wrapper
   .search-field
   .asColorPicker-wrap
   input::-moz-placeholder {
   font-size: 0.9375rem;
   color: #ffffff;
   font-weight: 300;
 }
 .navbar
   .navbar-menu-wrapper
   .search-field
   .input-group
   input::-webkit-input-placeholder,
 .navbar
   .navbar-menu-wrapper
   .search-field
   .asColorPicker-wrap
   input::-webkit-input-placeholder {
   font-size: 0.9375rem;
   color: #ffffff;
   font-weight: 300;
 }
 .navbar .navbar-menu-wrapper .search-field .input-group i,
 .navbar .navbar-menu-wrapper .search-field .asColorPicker-wrap i {
   font-size: 17px;
   margin-right: 0;
   color: #ffffff;
 }
 .navbar .navbar-menu-wrapper .search-field .input-group .input-group-text,
 .navbar
   .navbar-menu-wrapper
   .search-field
   .asColorPicker-wrap
   .input-group-text {
   background: transparent;
 }
 .navbar .navbar-menu-wrapper .count-indicator {
   position: relative;
 }
 .navbar .navbar-menu-wrapper .count-indicator .count-symbol,
 .navbar .navbar-menu-wrapper .count-indicator .count-number {
   position: absolute;
   border-radius: 100%;
   border: 2px solid #191c24;
 }
 .navbar .navbar-menu-wrapper .count-indicator .count-symbol {
   top: 17px;
   right: -3px;
   width: 10px;
   height: 10px;
 }
 .navbar .navbar-menu-wrapper .count-indicator .count-number {
   min-width: 14px;
   height: 14px;
   font-size: 0.5rem;
   color: #ffffff;
   bottom: 16px;
   right: -5px;
   line-height: 1;
   text-align: center;
 }
 .navbar .navbar-menu-wrapper .count-indicator:after {
   display: none;
 }
 .navbar .navbar-menu-wrapper .count-indicator .count {
   position: absolute;
   left: 66%;
   width: 7px;
   height: 7px;
   color: #ffffff;
   border-radius: 100%;
   text-align: center;
   font-size: 0.625rem;
   line-height: 1.5;
   top: 7px;
 }
 .navbar .navbar-menu-wrapper .navbar-nav {
   flex-direction: row;
   align-items: center;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
   color: inherit;
   font-size: 0.9375rem;
   margin-left: 1rem;
   margin-right: 1rem;
   white-space: nowrap;
 }
 @media (max-width: 767px) {
   .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
     margin-left: 0.8rem;
     margin-right: 0.8rem;
   }
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
   font-size: 1.125rem;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile {
   display: flex;
   font-weight: normal;
   align-items: center;
 }
 .navbar
   .navbar-menu-wrapper
   .navbar-nav
   .nav-item
   .nav-link
   .navbar-profile
   .navbar-profile-name {
   white-space: nowrap;
   margin-left: 1rem;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile i {
   color: #a7afb7;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.create-new-button {
   padding: 0.375rem 0.75rem;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
   line-height: 1rem;
 }
 .navbar
   .navbar-menu-wrapper
   .navbar-nav
   .nav-item.dropdown
   .dropdown-toggle:after {
   color: var(--bs-primary);
   font-size: 1rem;
 }
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
   border: none;
   border-radius: 4px;
 }
 .navbar
   .navbar-menu-wrapper
   .navbar-nav
   .nav-item.dropdown
   .dropdown-menu.navbar-dropdown {
   position: absolute;
   font-size: 0.9rem;
   margin-top: 0;
   top: 48px;
   right: 0;
   left: auto;
   -webkit-box-shadow: 0px 0px 35px -3px black;
   -moz-box-shadow: 0px 0px 35px -3px black;
   box-shadow: 0px 0px 35px -3px black;
   padding: 0;
 }
 .rtl
   .navbar
   .navbar-menu-wrapper
   .navbar-nav
   .nav-item.dropdown
   .dropdown-menu.navbar-dropdown {
   right: auto;
   left: 0;
 }
 .navbar
   .navbar-menu-wrapper
   .navbar-nav
   .nav-item.dropdown
   .dropdown-menu.navbar-dropdown
   .dropdown-item {
   margin-bottom: 0;
   padding: 11px 13px;
   cursor: pointer;
 }

 .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  i {
  font-size: 17px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rtl
  .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  i {
  margin-left: 10px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-divider {
  margin: 0;
}
@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 20px;
    right: 20px;
    top: 70px;
    width: calc(100% - 40px);
  }
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  .availability-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  bottom: 5px;
  right: -5px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  .availability-status.online {
  background: #00d25b;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  .availability-status.offline {
  background: #fc424a;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  .availability-status.busy {
  background: #ffab00;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text {
  margin-left: 1.25rem;
}
.rtl
  .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text
  p {
  line-height: 1;
}
@media (max-width: 767px) {
  .navbar
    .navbar-menu-wrapper
    .navbar-nav
    .nav-item.nav-profile
    .nav-link
    .nav-profile-text {
    display: none;
  }
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link.dropdown-toggle:after {
  line-height: 2;
}
@media (min-width: 992px) {
  .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
  }
  .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto;
  }
}
.navbar .navbar-menu-wrapper .search input {
  background: #191c24;
  padding: 13px 20px 11px 20px;
  border: 1px solid #2c2e33;
}
.navbar .navbar-menu-wrapper .search input::placeholder {
  color: #6c7293;
  font-size: 0.875rem;
}

@media (max-width: 991px) {
  .navbar {
    flex-direction: row;
  }
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: none;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block;
  }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}

.sidebar-tinted .navbar .navbar-brand-wrapper {
  background: #fa424a;
}

.sidebar .sidebar-brand-wrapper {
   transition: width 0.25s ease, background 0.25s ease;
   -webkit-transition: width 0.25s ease, background 0.25s ease;
   -moz-transition: width 0.25s ease, background 0.25s ease;
   -ms-transition: width 0.25s ease, background 0.25s ease;
   background: #191c24;
   width: 244px;
   height: 70px;
 }
 @media (max-width: 991px) {
   .sidebar .sidebar-brand-wrapper {
     width: 55px;
   }
 }
 .sidebar .sidebar-brand-wrapper .sidebar-brand {
   color: #38425e;
   font-size: 1.5rem;
   line-height: 48px;
   margin-right: 0;
   padding: 0rem 0rem 0rem 1.3rem;
   width: 100%;
 }
 .sidebar .sidebar-brand-wrapper .sidebar-brand:active,
 .sidebar .sidebar-brand-wrapper .sidebar-brand:focus,
 .sidebar .sidebar-brand-wrapper .sidebar-brand:hover {
   color: #252b3e;
 }
 .sidebar .sidebar-brand-wrapper .sidebar-brand img {
   width: calc(244px - 120px);
   max-width: 100%;
   height: 28px;
   margin: auto;
   vertical-align: middle;
 }
 .sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
   display: none;
 }

 .sidebar .nav {
   overflow: hidden;
   flex-wrap: nowrap;
   flex-direction: column;
   margin-bottom: 60px;
   padding-top: 70px;
 }
 @media (max-width: 992px) {
   .sidebar .nav {
     padding-top: 0;
   }
 }
 .sidebar .nav .nav-item {
   -webkit-transition-duration: 0.25s;
   -moz-transition-duration: 0.25s;
   -o-transition-duration: 0.25s;
   transition-duration: 0.25s;
   transition-property: background;
   -webkit-transition-property: background;
   padding-right: 20px;
 }
 .sidebar .nav .nav-item .collapse {
   z-index: 999;
 }

 .sidebar .nav .nav-item .nav-link i {
   color: inherit;
 }

 .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
   margin-left: 0;
   margin-right: auto;
 }
 .sidebar .nav .nav-item .nav-link i.menu-icon:before {
   vertical-align: middle;
 }
 .sidebar .nav .nav-item .nav-link i.menu-arrow {
   font: normal normal normal 24px/1 "bootstrap-icons";
   line-height: 1;
   font-size: 1rem;
   margin-left: auto;
   color: rgba(108, 114, 147, 0.36);
 }
 .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
   margin-left: 0;
   margin-right: auto;
 }

 .sidebar .nav .nav-item .nav-link .menu-title {
   color: inherit;
   display: inline-block;
   font-size: 0.9375rem;
   line-height: 1;
   vertical-align: middle;
 }
 .sidebar .nav .nav-item .nav-link .badge {
   margin-right: auto;
   margin-left: 1rem;
 }
 .sidebar .nav .nav-item.active > .nav-link {
   background: #1d7ca1 !important;
   position: relative;
 }
 .sidebar .nav .nav-item.active > .nav-link .menu-title {
   color: #ffffff;
 }
 .sidebar .nav .nav-item.active > .nav-link i {
   color: #ffffff;
 }
 .sidebar .nav .nav-item.nav-profile .nav-link {
   height: auto;
   line-height: 1;
   border-top: 0;
   padding: 1.25rem 0;
 }
 .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
   width: 44px;
   height: 44px;
 }
 .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
   width: 44px;
   height: 44px;
   border-radius: 100%;
 }
 .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
   margin-left: 1rem;
 }
 .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
   margin-left: auto;
   margin-right: 1rem;
 }
 .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
   font-size: 1.125rem;
   margin-left: auto;
 }
 .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
   margin-left: 0;
   margin-right: auto;
 }
 .sidebar .nav .nav-item.sidebar-actions {
   margin-top: 1rem;
 }
 .sidebar .nav .nav-item.sidebar-actions .nav-link {
   border-top: 0;
   display: block;
   height: auto;
 }
 .sidebar .nav .nav-item.sidebar-actions:hover {
   background: initial;
 }
 .sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
   color: initial;
 }
 .sidebar .nav .nav-item.profile {
   padding-right: 0px;
 }
 .rtl .sidebar .nav .nav-item.profile {
   padding-right: 10px;
 }
 .sidebar .nav .nav-item.profile .profile-desc {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 0.6rem 1.17rem;
   line-height: 1.25;
 }
 .sidebar .nav .nav-item.profile .profile-desc .profile-name {
   margin-left: 1rem;
 }
 .rtl .sidebar .nav .nav-item.profile .profile-desc .profile-name {
   margin-left: 0;
   margin-right: 1rem;
 }
 .sidebar .nav .nav-item.profile .profile-desc .profile-name span {
   font-size: 12px;
   color: #6c7293;
   white-space: nowrap;
 }
 .sidebar .nav .nav-item.profile .profile-desc .profile-name h5,
 .sidebar .nav .nav-item.profile .profile-desc .profile-name .h5 {
   white-space: nowrap;
 }
 .sidebar .nav .nav-item.profile .profile-desc .profile-pic {
   display: flex;
   align-items: center;
 }
 .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator {
   position: relative;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator
   .count-symbol,
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator
   .count-number {
   position: absolute;
   border-radius: 100%;
   border: 2px solid #191c24;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator
   .count-symbol {
   top: 17px;
   right: -3px;
   width: 10px;
   height: 10px;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator
   .count-number {
   min-width: 14px;
   height: 14px;
   font-size: 0.5rem;
   color: #ffffff;
   bottom: 16px;
   right: -5px;
   line-height: 1;
   text-align: center;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator:after {
   display: none;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-pic
   .count-indicator
   .count {
   position: absolute;
   left: 66%;
   width: 10px;
   height: 10px;
   color: #ffffff;
   border-radius: 100%;
   text-align: center;
   font-size: 0.625rem;
   line-height: 1.5;
   top: 26px;
   border: 2px solid #2c2e33;
 }
 .sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
   font-size: 20px;
   color: #6c7293;
 }
 .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu {
   padding: 0;
   margin-top: 1.25rem;
 }
 .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item {
   padding: 11px 13px;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .dropdown-menu
   .dropdown-item.preview-item {
   align-items: center;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .dropdown-menu
   .dropdown-item.preview-item
   .preview-thumbnail
   .preview-icon {
   width: 30px;
   height: 30px;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .dropdown-menu
   .dropdown-item.preview-item
   .preview-thumbnail
   .preview-icon
   i {
   font-size: 0.875rem;
 }
 .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .dropdown-menu
   .dropdown-item:hover {
   color: inherit;
 }
 .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-divider {
   margin: 0;
 }
 .sidebar .nav .nav-item.nav-category {
   padding: 0.5rem 1.188rem;
   line-height: 1;
 }
 .sidebar .nav .nav-item.nav-category .nav-link {
   color: #6c7293;
   font-weight: 500;
   font-size: 14px;
   font-weight: 500;
   height: auto;
   padding-left: 0;
 }
 .sidebar .nav .nav-item .menu-icon {
   margin-right: 0.5rem;
   font-size: 0.8125rem;
   line-height: 1;
   background: rgba(108, 114, 147, 0.2);
   width: 31px;
   height: 31px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
 }
 .sidebar .nav .nav-item .menu-icon i {
   font-size: 0.875rem;
 }
 .sidebar .nav.sub-menu {
   margin-bottom: 0;
   margin-top: 0;
   padding: 0 0 0 3.25rem;
   list-style: none;
 }
 .sidebar .nav.sub-menu .nav-item {
   padding: 0;
 }
 .sidebar .nav.sub-menu .nav-item .nav-link {
   color: #6c7293;
   padding: 0.5rem 0.35rem;
   position: relative;
   font-size: 0.855rem;
   line-height: 1;
   height: auto;
   border-top: 0;
 }
 .sidebar .nav.sub-menu .nav-item .nav-link.active {
   color: #ffffff;
   background: transparent;
 }
 .sidebar .nav.sub-menu .nav-item .nav-link:hover {
   color: #ffffff;
 }
 .sidebar .nav.sub-menu .nav-item:hover {
   background: transparent;
 }
 .sidebar
   .nav:not(.sub-menu)
   > .nav-item:hover:not(.nav-category):not(.account-dropdown)
   > .nav-link {
   background: #0f1015;
   color: color(white);
 }

 /* style for off-canvas menu*/
@media screen and (max-width: 991px) {
   .sidebar-offcanvas {
     position: fixed;
     max-height: calc(100vh - 70px);
     top: 70px;
     bottom: 0;
     overflow: auto;
     right: -244px;
     -webkit-transition: all 0.25s ease-out;
     -o-transition: all 0.25s ease-out;
     transition: all 0.25s ease-out;
   }
   .sidebar-offcanvas.active {
     right: 0;
   }
 }

 .sidebar-tinted .sidebar {
   background: #fa424a;
 }
 .sidebar-tinted .sidebar .sidebar-brand-wrapper {
   background: #fa424a;
 }
 .sidebar-tinted .sidebar .nav .nav-item .nav-link {
   color: #ffffff;
 }
 .sidebar-tinted .sidebar .nav .nav-item .nav-link .menu-icon i {
   color: white;
 }
 .sidebar-tinted .sidebar .nav .nav-item .nav-link i.menu-arrow {
   color: rgba(255, 255, 255, 0.36);
 }
 .sidebar-tinted .sidebar .nav .nav-item.active > .nav-link {
   background: rgba(12, 14, 14, 0.1);
 }
 .sidebar-tinted .sidebar .nav .nav-item.active:before {
   background: #ffffff;
 }
 .sidebar-tinted
   .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .profile-name
   span {
   color: #ffffff;
 }
 .sidebar-tinted
   .sidebar
   .nav
   .nav-item.profile
   .profile-desc
   .mdi-dots-vertical {
   color: #ffffff;
 }
 .sidebar-tinted
   .sidebar
   .nav
   .nav-item.profile
   .profile-pic
   .count-indicator
   .count {
   border: 2px solid #fa424a;
 }
 .sidebar-tinted .sidebar .nav.sub-menu .nav-item .nav-link:hover {
   font-weight: 500;
 }
 .sidebar-tinted
   .sidebar
   .nav:not(.sub-menu)
   > .nav-item:hover:not(.nav-category):not(.account-dropdown)
   > .nav-link {
   background: rgba(12, 14, 14, 0.1);
 }

 /* Layouts */
 .navbar.fixed-top + .page-body-wrapper {
   padding-top: 70px;
 }

 @media (min-width: 992px) {
   .sidebar-icon-only .navbar {
     left: 70px;
   }
   .sidebar-icon-only .navbar .navbar-menu-wrapper {
     width: 100%;
   }
   .sidebar-icon-only .sidebar {
     width: 70px;
   }
   .sidebar-icon-only .sidebar .sidebar-brand-wrapper {
     width: 70px;
   }
   .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo {
     display: none;
   }
   .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo-mini {
     display: inline-block;
   }
   .sidebar-icon-only .sidebar .nav {
     overflow: visible;
   }
   .sidebar-icon-only .sidebar .nav .nav-item {
     position: relative;
     padding: 0;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .profile-name {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .mdi-dots-vertical {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item.account-dropdown {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
     text-align: center;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge,
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
     border-radius: 0 5px 5px 0px;
   }
   .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
     border-radius: 5px 0 0 5px;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
     margin-right: 0;
     margin-left: 0;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
     display: none;
   }
   .sidebar-icon-only
     .sidebar
     .nav
     .nav-item
     .nav-link[aria-expanded]
     .menu-title {
     border-radius: 0 5px 0 0px;
   }
   .rtl.sidebar-icon-only
     .sidebar
     .nav
     .nav-item
     .nav-link[aria-expanded]
     .menu-title {
     border-radius: 5px 0 0 0;
   }
   .sidebar-icon-only .sidebar .nav .nav-item.nav-profile {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item.nav-category {
     display: none;
   }
   .sidebar-icon-only .sidebar .nav .nav-item.nav-doc {
     margin: 0;
   }
   .sidebar-icon-only .sidebar .nav .nav-item.nav-doc i {
     display: block;
   }
   .sidebar-icon-only .sidebar .nav .nav-item .collapse {
     display: none;
   }

   .rtl.sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title {
    left: auto;
    right: 70px;
    text-align: left;
  }
  .sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title:after {
    display: none;
  }

  .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-dark.sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .collapsing {
    background: #191c24;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    left: auto;
    right: 70px;
    border-radius: 0 0 0 5px;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu {
    padding: 0 0 0 1.5rem;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: left;
    padding-left: 20px;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6c7293;
    position: absolute;
    left: 0;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover:before {
    background-color: white;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
    margin-left: 0;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: right;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
    left: 0;
    right: unset;
  }
  .sidebar-icon-only .sidebar .sidebar-actions {
    display: none;
  }
  .sidebar-icon-only.rtl .sidebar .nav .nav-item.profile {
    padding-right: 0;
  }
  .sidebar-icon-only .page-body-wrapper {
    width: calc(100% - 70px);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
  }
}
