/*-------------------------------------------------------------------*/
/* === Template mixins === */
/* Miscellaneous Mixins */
.list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}

/* Animation Mixins */
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0, 0px, 0);
  }
}

.dropdownAnimation,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.infinite-spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/*-------------------------------------------------------------------*/
/* === Components === */
/* Badges */
.badge {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: initial;
  line-height: 1;
  padding: 0.5rem 0.7rem;
  font-weight: 500;
}
.badge.badge-pill {
  border-radius: 10rem;
}

/*Badge variations*/
.badge-primary {
  background: var(--bs-primary);
  color: #ffffff;
}

.badge-secondary {
  background: #e4eaec;
  color: #ffffff;
}

.badge-success,
.preview-list .preview-item .preview-thumbnail .badge.badge-online {
  background: #00d25b;
  color: #ffffff;
}

.badge-info,
.preview-list .preview-item .preview-thumbnail .badge.badge-offline {
  background: #8f5fe8;
  color: #ffffff;
}

.badge-warning,
.preview-list .preview-item .preview-thumbnail .badge.badge-busy {
  background: #ffab00;
  color: #ffffff;
}

.badge-danger {
  background: #fc424a;
  color: #ffffff;
}

.badge-light {
  background: #ffffff;
  color: #ffffff;
}

.badge-dark {
  background: #0d0d0d;
  color: #ffffff;
}

/*Badge outlined variations*/
.badge-outline-primary {
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.badge-outline-secondary {
  color: #e4eaec;
  border: 1px solid #e4eaec;
}

.badge-outline-success {
  color: #00d25b;
  border: 1px solid #00d25b;
}

.badge-outline-info {
  color: #8f5fe8;
  border: 1px solid #8f5fe8;
}

.badge-outline-warning {
  color: #ffab00;
  border: 1px solid #ffab00;
}

.badge-outline-danger {
  color: #fc424a;
  border: 1px solid #fc424a;
}

.badge-outline-light {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.badge-outline-dark {
  color: #0d0d0d;
  border: 1px solid #0d0d0d;
}

/* Buttons */
.btn,
.fc button,
.ajax-upload-dragdrop .ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm,
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel {
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: normal;
  /* Buttons with only icons */
  /* Buttons with icon and text */
}
.btn i,
.fc button i,
.ajax-upload-dragdrop .ajax-file-upload i,
.swal2-modal .swal2-buttonswrapper .swal2-styled i,
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm i,
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel i {
  margin-right: 0.3125rem;
}
.btn.btn-rounded,
.fc button.btn-rounded,
.ajax-upload-dragdrop .btn-rounded.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-rounded.swal2-styled {
  border-radius: 50px;
}
.btn.btn-fw,
.fc button.btn-fw,
.ajax-upload-dragdrop .btn-fw.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-fw.swal2-styled {
  min-width: 150px;
}
.btn.btn-sm,
.btn-group-sm > .btn,
.fc .btn-group-sm > button,
.ajax-upload-dragdrop .btn-group-sm > .ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-group-sm > .swal2-styled,
.fc button,
.ajax-upload-dragdrop .btn-sm.ajax-file-upload,
.ajax-upload-dragdrop .fc button.ajax-file-upload,
.fc .ajax-upload-dragdrop button.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-sm.swal2-styled,
.swal2-modal .swal2-buttonswrapper .fc button.swal2-styled,
.fc .swal2-modal .swal2-buttonswrapper button.swal2-styled {
  font-size: 0.875rem;
}
.btn.btn-lg,
.btn-group-lg > .btn,
.fc .btn-group-lg > button,
.ajax-upload-dragdrop .btn-group-lg > .ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-group-lg > .swal2-styled,
.fc button.btn-lg,
.ajax-upload-dragdrop .btn-lg.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-lg.swal2-styled {
  font-size: 0.875rem;
}
.btn.btn-xs,
.fc button.btn-xs,
.fc
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  button.editable-submit,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .fc
  button.editable-submit,
.fc
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  button.editable-cancel,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .fc
  button.editable-cancel,
.ajax-upload-dragdrop .btn-xs.ajax-file-upload,
.ajax-upload-dragdrop
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .ajax-file-upload.editable-submit,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .ajax-upload-dragdrop
  .ajax-file-upload.editable-submit,
.ajax-upload-dragdrop
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .ajax-file-upload.editable-cancel,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .ajax-upload-dragdrop
  .ajax-file-upload.editable-cancel,
.swal2-modal .swal2-buttonswrapper .btn-xs.swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .swal2-styled.editable-submit,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .swal2-modal
  .swal2-buttonswrapper
  .swal2-styled.editable-submit,
.swal2-modal
  .swal2-buttonswrapper
  .editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .swal2-styled.editable-cancel,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .swal2-modal
  .swal2-buttonswrapper
  .swal2-styled.editable-cancel,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .btn.editable-submit,
.editable-container.editable-inline
  .editableform
  .control-group
  .editable-buttons
  .btn.editable-cancel {
  padding: 0.5rem 0.75rem;
  font-size: 0.625rem;
}
.btn.btn-icon,
.fc button.btn-icon,
.ajax-upload-dragdrop .btn-icon.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-icon.swal2-styled {
  width: 42px;
  height: 42px;
  padding: 0;
}
.btn.btn-icon-text .btn-icon-prepend,
.fc button.btn-icon-text .btn-icon-prepend,
.ajax-upload-dragdrop .btn-icon-text.ajax-file-upload .btn-icon-prepend,
.swal2-modal
  .swal2-buttonswrapper
  .btn-icon-text.swal2-styled
  .btn-icon-prepend {
  margin-right: 0.5rem;
}
.btn.btn-icon-text .btn-icon-append,
.fc button.btn-icon-text .btn-icon-append,
.ajax-upload-dragdrop .btn-icon-text.ajax-file-upload .btn-icon-append,
.swal2-modal
  .swal2-buttonswrapper
  .btn-icon-text.swal2-styled
  .btn-icon-append {
  margin-left: 0.5rem;
}
.btn.btn-social-icon,
.fc button.btn-social-icon,
.ajax-upload-dragdrop .btn-social-icon.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-social-icon.swal2-styled {
  width: 50px;
  height: 50px;
  padding: 0;
}
.btn.get-started-btn,
.fc button.get-started-btn,
.ajax-upload-dragdrop .get-started-btn.ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .get-started-btn.swal2-styled {
  font-size: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  padding: 0.9375rem 1.0625rem;
}
@media (max-width: 576px) {
  .btn.get-started-btn,
  .fc button.get-started-btn,
  .ajax-upload-dragdrop .get-started-btn.ajax-file-upload,
  .swal2-modal .swal2-buttonswrapper .get-started-btn.swal2-styled {
    font-size: 0.6rem;
    padding: 0.4375rem 0.6625rem;
  }
}

.btn-group .btn + .btn,
.fc .fc-button-group .btn + .btn,
.btn-group .fc button + .btn,
.fc .btn-group button + .btn,
.fc .fc-button-group button + .btn,
.btn-group .ajax-upload-dragdrop .ajax-file-upload + .btn,
.ajax-upload-dragdrop .btn-group .ajax-file-upload + .btn,
.fc .fc-button-group .ajax-upload-dragdrop .ajax-file-upload + .btn,
.ajax-upload-dragdrop .fc .fc-button-group .ajax-file-upload + .btn,
.btn-group .swal2-modal .swal2-buttonswrapper .swal2-styled + .btn,
.swal2-modal .swal2-buttonswrapper .btn-group .swal2-styled + .btn,
.fc .fc-button-group .swal2-modal .swal2-buttonswrapper .swal2-styled + .btn,
.swal2-modal .swal2-buttonswrapper .fc .fc-button-group .swal2-styled + .btn,
.btn-group .fc .btn + button,
.fc .btn-group .btn + button,
.fc .fc-button-group .btn + button,
.btn-group .fc button + button,
.fc .btn-group button + button,
.fc .fc-button-group button + button,
.btn-group .ajax-upload-dragdrop .fc .ajax-file-upload + button,
.fc .btn-group .ajax-upload-dragdrop .ajax-file-upload + button,
.ajax-upload-dragdrop .btn-group .fc .ajax-file-upload + button,
.fc .ajax-upload-dragdrop .btn-group .ajax-file-upload + button,
.fc .fc-button-group .ajax-upload-dragdrop .ajax-file-upload + button,
.ajax-upload-dragdrop .fc .fc-button-group .ajax-file-upload + button,
.btn-group .swal2-modal .swal2-buttonswrapper .fc .swal2-styled + button,
.fc .btn-group .swal2-modal .swal2-buttonswrapper .swal2-styled + button,
.swal2-modal .swal2-buttonswrapper .btn-group .fc .swal2-styled + button,
.fc .swal2-modal .swal2-buttonswrapper .btn-group .swal2-styled + button,
.fc .fc-button-group .swal2-modal .swal2-buttonswrapper .swal2-styled + button,
.swal2-modal .swal2-buttonswrapper .fc .fc-button-group .swal2-styled + button,
.btn-group .ajax-upload-dragdrop .btn + .ajax-file-upload,
.ajax-upload-dragdrop .btn-group .btn + .ajax-file-upload,
.fc .fc-button-group .ajax-upload-dragdrop .btn + .ajax-file-upload,
.ajax-upload-dragdrop .fc .fc-button-group .btn + .ajax-file-upload,
.btn-group .fc .ajax-upload-dragdrop button + .ajax-file-upload,
.ajax-upload-dragdrop .btn-group .fc button + .ajax-file-upload,
.fc .btn-group .ajax-upload-dragdrop button + .ajax-file-upload,
.ajax-upload-dragdrop .fc .btn-group button + .ajax-file-upload,
.fc .fc-button-group .ajax-upload-dragdrop button + .ajax-file-upload,
.ajax-upload-dragdrop .fc .fc-button-group button + .ajax-file-upload,
.btn-group .ajax-upload-dragdrop .ajax-file-upload + .ajax-file-upload,
.ajax-upload-dragdrop .btn-group .ajax-file-upload + .ajax-file-upload,
.fc
  .fc-button-group
  .ajax-upload-dragdrop
  .ajax-file-upload
  + .ajax-file-upload,
.ajax-upload-dragdrop
  .fc
  .fc-button-group
  .ajax-file-upload
  + .ajax-file-upload,
.btn-group
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-upload-dragdrop
  .swal2-styled
  + .ajax-file-upload,
.ajax-upload-dragdrop
  .btn-group
  .swal2-modal
  .swal2-buttonswrapper
  .swal2-styled
  + .ajax-file-upload,
.swal2-modal
  .swal2-buttonswrapper
  .btn-group
  .ajax-upload-dragdrop
  .swal2-styled
  + .ajax-file-upload,
.ajax-upload-dragdrop
  .swal2-modal
  .swal2-buttonswrapper
  .btn-group
  .swal2-styled
  + .ajax-file-upload,
.fc
  .fc-button-group
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-upload-dragdrop
  .swal2-styled
  + .ajax-file-upload,
.ajax-upload-dragdrop
  .fc
  .fc-button-group
  .swal2-modal
  .swal2-buttonswrapper
  .swal2-styled
  + .ajax-file-upload,
.swal2-modal
  .swal2-buttonswrapper
  .fc
  .fc-button-group
  .ajax-upload-dragdrop
  .swal2-styled
  + .ajax-file-upload,
.ajax-upload-dragdrop
  .swal2-modal
  .swal2-buttonswrapper
  .fc
  .fc-button-group
  .swal2-styled
  + .ajax-file-upload,
.btn-group .swal2-modal .swal2-buttonswrapper .btn + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .btn-group .btn + .swal2-styled,
.fc .fc-button-group .swal2-modal .swal2-buttonswrapper .btn + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .fc .fc-button-group .btn + .swal2-styled,
.btn-group .fc .swal2-modal .swal2-buttonswrapper button + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .btn-group .fc button + .swal2-styled,
.fc .btn-group .swal2-modal .swal2-buttonswrapper button + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .fc .btn-group button + .swal2-styled,
.fc .fc-button-group .swal2-modal .swal2-buttonswrapper button + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .fc .fc-button-group button + .swal2-styled,
.btn-group
  .ajax-upload-dragdrop
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-file-upload
  + .swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .btn-group
  .ajax-upload-dragdrop
  .ajax-file-upload
  + .swal2-styled,
.ajax-upload-dragdrop
  .btn-group
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-file-upload
  + .swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .ajax-upload-dragdrop
  .btn-group
  .ajax-file-upload
  + .swal2-styled,
.fc
  .fc-button-group
  .ajax-upload-dragdrop
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-file-upload
  + .swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .fc
  .fc-button-group
  .ajax-upload-dragdrop
  .ajax-file-upload
  + .swal2-styled,
.ajax-upload-dragdrop
  .fc
  .fc-button-group
  .swal2-modal
  .swal2-buttonswrapper
  .ajax-file-upload
  + .swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .ajax-upload-dragdrop
  .fc
  .fc-button-group
  .ajax-file-upload
  + .swal2-styled,
.btn-group .swal2-modal .swal2-buttonswrapper .swal2-styled + .swal2-styled,
.swal2-modal .swal2-buttonswrapper .btn-group .swal2-styled + .swal2-styled,
.fc
  .fc-button-group
  .swal2-modal
  .swal2-buttonswrapper
  .swal2-styled
  + .swal2-styled,
.swal2-modal
  .swal2-buttonswrapper
  .fc
  .fc-button-group
  .swal2-styled
  + .swal2-styled {
  border-left: 0;
}

/* inverse buttons */
.btn-inverse-primary {
  background-color: rgba(0, 144, 231, 0.2);
  background-image: none;
  border-color: rgba(0, 144, 231, 0);
}
.btn-inverse-primary:not(.btn-inverse-light) {
  color: var(--bs-primary);
}
.btn-inverse-primary:hover {
  color: #ffffff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-inverse-primary.focus,
.btn-inverse-primary:focus {
  box-shadow: 0 0 0 3px rgba(0, 144, 231, 0.5);
}
.btn-inverse-primary.disabled,
.btn-inverse-primary:disabled {
  color: var(--bs-primary);
  background-color: transparent;
}
.btn-inverse-primary.active,
.btn-inverse-primary:active,
.show > .btn-inverse-primary.dropdown-toggle {
  color: #ffffff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-primary:not(.btn-light):not(.btn-secondary):hover,
.btn-primary:not(.btn-light):not(.btn-secondary):focus,
.btn-primary:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-primary:not(.btn-light):not(.btn-secondary):focus,
.btn-primary:not(.btn-light):not(.btn-secondary):active {
  background: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-inverse-secondary {
  background-color: rgba(228, 234, 236, 0.2);
  background-image: none;
  border-color: rgba(228, 234, 236, 0);
}
.btn-inverse-secondary:not(.btn-inverse-light) {
  color: #e4eaec;
}
.btn-inverse-secondary:hover {
  color: #ffffff;
  background-color: #e4eaec;
  border-color: #e4eaec;
}
.btn-inverse-secondary.focus,
.btn-inverse-secondary:focus {
  box-shadow: 0 0 0 3px rgba(228, 234, 236, 0.5);
}
.btn-inverse-secondary.disabled,
.btn-inverse-secondary:disabled {
  color: #e4eaec;
  background-color: transparent;
}
.btn-inverse-secondary.active,
.btn-inverse-secondary:active,
.show > .btn-inverse-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #e4eaec;
  border-color: #e4eaec;
}

.btn-secondary:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-secondary:not(.btn-light):not(.btn-secondary):hover,
.btn-secondary:not(.btn-light):not(.btn-secondary):focus,
.btn-secondary:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-secondary:not(.btn-light):not(.btn-secondary):focus,
.btn-secondary:not(.btn-light):not(.btn-secondary):active {
  background: #e4eaec;
  border-color: #e4eaec;
}

.btn-inverse-success {
  background-color: rgba(0, 210, 91, 0.2);
  background-image: none;
  border-color: rgba(0, 210, 91, 0);
}
.btn-inverse-success:not(.btn-inverse-light) {
  color: #00d25b;
}
.btn-inverse-success:hover {
  color: #ffffff;
  background-color: #00d25b;
  border-color: #00d25b;
}
.btn-inverse-success.focus,
.btn-inverse-success:focus {
  box-shadow: 0 0 0 3px rgba(0, 210, 91, 0.5);
}
.btn-inverse-success.disabled,
.btn-inverse-success:disabled {
  color: #00d25b;
  background-color: transparent;
}
.btn-inverse-success.active,
.btn-inverse-success:active,
.show > .btn-inverse-success.dropdown-toggle {
  color: #ffffff;
  background-color: #00d25b;
  border-color: #00d25b;
}

.btn-success:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-success:not(.btn-light):not(.btn-secondary):hover,
.btn-success:not(.btn-light):not(.btn-secondary):focus,
.btn-success:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-success:not(.btn-light):not(.btn-secondary):focus,
.btn-success:not(.btn-light):not(.btn-secondary):active {
  background: #00d25b;
  border-color: #00d25b;
}

.btn-inverse-info {
  background-color: rgba(143, 95, 232, 0.2);
  background-image: none;
  border-color: rgba(143, 95, 232, 0);
}
.btn-inverse-info:not(.btn-inverse-light) {
  color: #8f5fe8;
}
.btn-inverse-info:hover {
  color: #ffffff;
  background-color: #8f5fe8;
  border-color: #8f5fe8;
}
.btn-inverse-info.focus,
.btn-inverse-info:focus {
  box-shadow: 0 0 0 3px rgba(143, 95, 232, 0.5);
}
.btn-inverse-info.disabled,
.btn-inverse-info:disabled {
  color: #8f5fe8;
  background-color: transparent;
}
.btn-inverse-info.active,
.btn-inverse-info:active,
.show > .btn-inverse-info.dropdown-toggle {
  color: #ffffff;
  background-color: #8f5fe8;
  border-color: #8f5fe8;
}

.btn-info:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-info:not(.btn-light):not(.btn-secondary):hover,
.btn-info:not(.btn-light):not(.btn-secondary):focus,
.btn-info:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-info:not(.btn-light):not(.btn-secondary):focus,
.btn-info:not(.btn-light):not(.btn-secondary):active {
  background: #8f5fe8;
  border-color: #8f5fe8;
}

.btn-inverse-warning {
  background-color: rgba(255, 171, 0, 0.2);
  background-image: none;
  border-color: rgba(255, 171, 0, 0);
}
.btn-inverse-warning:not(.btn-inverse-light) {
  color: #ffab00;
}
.btn-inverse-warning:hover {
  color: #ffffff;
  background-color: #ffab00;
  border-color: #ffab00;
}
.btn-inverse-warning.focus,
.btn-inverse-warning:focus {
  box-shadow: 0 0 0 3px rgba(255, 171, 0, 0.5);
}
.btn-inverse-warning.disabled,
.btn-inverse-warning:disabled {
  color: #ffab00;
  background-color: transparent;
}
.btn-inverse-warning.active,
.btn-inverse-warning:active,
.show > .btn-inverse-warning.dropdown-toggle {
  color: #ffffff;
  background-color: #ffab00;
  border-color: #ffab00;
}

.btn-warning:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-warning:not(.btn-light):not(.btn-secondary):hover,
.btn-warning:not(.btn-light):not(.btn-secondary):focus,
.btn-warning:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-warning:not(.btn-light):not(.btn-secondary):focus,
.btn-warning:not(.btn-light):not(.btn-secondary):active {
  background: #ffab00;
  border-color: #ffab00;
}

.btn-inverse-danger {
  background-color: rgba(252, 66, 74, 0.2);
  background-image: none;
  border-color: rgba(252, 66, 74, 0);
}
.btn-inverse-danger:not(.btn-inverse-light) {
  color: #fc424a;
}
.btn-inverse-danger:hover {
  color: #ffffff;
  background-color: #fc424a;
  border-color: #fc424a;
}
.btn-inverse-danger.focus,
.btn-inverse-danger:focus {
  box-shadow: 0 0 0 3px rgba(252, 66, 74, 0.5);
}
.btn-inverse-danger.disabled,
.btn-inverse-danger:disabled {
  color: #fc424a;
  background-color: transparent;
}
.btn-inverse-danger.active,
.btn-inverse-danger:active,
.show > .btn-inverse-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #fc424a;
  border-color: #fc424a;
}

.btn-danger:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-danger:not(.btn-light):not(.btn-secondary):hover,
.btn-danger:not(.btn-light):not(.btn-secondary):focus,
.btn-danger:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-danger:not(.btn-light):not(.btn-secondary):focus,
.btn-danger:not(.btn-light):not(.btn-secondary):active {
  background: #fc424a;
  border-color: #fc424a;
}

.btn-inverse-light {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border-color: rgba(255, 255, 255, 0);
}
.btn-inverse-light:not(.btn-inverse-light) {
  color: #ffffff;
}
.btn-inverse-light:hover {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-inverse-light.focus,
.btn-inverse-light:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.btn-inverse-light.disabled,
.btn-inverse-light:disabled {
  color: #ffffff;
  background-color: transparent;
}
.btn-inverse-light.active,
.btn-inverse-light:active,
.show > .btn-inverse-light.dropdown-toggle {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-light:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-light:not(.btn-light):not(.btn-secondary):hover,
.btn-light:not(.btn-light):not(.btn-secondary):focus,
.btn-light:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-light:not(.btn-light):not(.btn-secondary):focus,
.btn-light:not(.btn-light):not(.btn-secondary):active {
  background: #ffffff;
  border-color: #ffffff;
}

.btn-inverse-dark {
  background-color: rgba(13, 13, 13, 0.2);
  background-image: none;
  border-color: rgba(13, 13, 13, 0);
}
.btn-inverse-dark:not(.btn-inverse-light) {
  color: #0d0d0d;
}
.btn-inverse-dark:hover {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-inverse-dark.focus,
.btn-inverse-dark:focus {
  box-shadow: 0 0 0 3px rgba(13, 13, 13, 0.5);
}
.btn-inverse-dark.disabled,
.btn-inverse-dark:disabled {
  color: #0d0d0d;
  background-color: transparent;
}
.btn-inverse-dark.active,
.btn-inverse-dark:active,
.show > .btn-inverse-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}

.btn-dark:not(.btn-light):not(.btn-secondary) {
  color: #ffffff;
}
.btn-dark:not(.btn-light):not(.btn-secondary):hover,
.btn-dark:not(.btn-light):not(.btn-secondary):focus,
.btn-dark:not(.btn-light):not(.btn-secondary):active {
  color: #ffffff;
}
.btn-dark:not(.btn-light):not(.btn-secondary):focus,
.btn-dark:not(.btn-light):not(.btn-secondary):active {
  background: #0d0d0d;
  border-color: #0d0d0d;
}

/* Cards */
.card {
  border-radius: 0.25rem;
}
.card .card-body {
  padding: 1.75rem 1.5625rem;
}
.card .card-body + .card-body {
  padding-top: 1rem;
}
.card .card-title {
  color: #ffffff;
  margin-bottom: 1.125rem;
  text-transform: capitalize;
}
.card .card-subtitle {
  font-weight: normal;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.card .card-description {
  color: #bfbfbf;
  font-weight: 300;
}
.card.card-outline-success {
  border: 1px solid #00d25b;
}
.card.card-outline-primary {
  border: 1px solid var(--bs-primary);
}
.card.card-outline-warning {
  border: 1px solid #ffab00;
}
.card.card-outline-danger {
  border: 1px solid #fc424a;
}
.card.card-rounded {
  border-radius: 5px;
}
.card.card-faded {
  background: #b5b0b2;
  border-color: #b5b0b2;
}
.card.card-circle-progress {
  color: #ffffff;
  text-align: center;
}
.card.card-img-holder {
  position: relative;
}
.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.card.corona-gradient-card {
  background-image: linear-gradient(to left, #d41459, #911a6c);
  border-radius: 6px;
}
.card.corona-gradient-card .gradient-corona-img {
  height: 85px;
}
@media (max-width: 576px) {
  .card.corona-gradient-card .gradient-corona-img {
    height: auto;
    min-height: 50px;
    max-height: 85px;
  }
}
@media (max-width: 576px) {
  .card.corona-gradient-card h4,
  .card.corona-gradient-card .h4 {
    font-size: 0.75rem;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

.card-inverse-primary {
  background: rgba(0, 144, 231, 0.2);
  border: 1px solid theme-color-level(var(--bs-primary), 1);
  color: theme-color-level(var(--bs-primary), 3);
}

.card-inverse-secondary {
  background: rgba(228, 234, 236, 0.2);
  border: 1px solid theme-color-level(#e4eaec, 1);
  color: theme-color-level(#e4eaec, 3);
}

.card-inverse-success {
  background: rgba(0, 210, 91, 0.2);
  border: 1px solid theme-color-level(#00d25b, 1);
  color: theme-color-level(#00d25b, 3);
}

.card-inverse-info {
  background: rgba(143, 95, 232, 0.2);
  border: 1px solid theme-color-level(#8f5fe8, 1);
  color: theme-color-level(#8f5fe8, 3);
}

.card-inverse-warning {
  background: rgba(255, 171, 0, 0.2);
  border: 1px solid theme-color-level(#ffab00, 1);
  color: theme-color-level(#ffab00, 3);
}

.card-inverse-danger {
  background: rgba(252, 66, 74, 0.2);
  border: 1px solid theme-color-level(#fc424a, 1);
  color: theme-color-level(#fc424a, 3);
}

.card-inverse-light {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid theme-color-level(#ffffff, 1);
  color: theme-color-level(#ffffff, 3);
}

.card-inverse-dark {
  background: rgba(13, 13, 13, 0.2);
  border: 1px solid theme-color-level(#0d0d0d, 1);
  color: theme-color-level(#0d0d0d, 3);
}

/* Checkboxes and Radios */
.form-check {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0;
}
.form-check .form-check-label {
  display: block;
  padding-left: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #6c7293;
}
.rtl .form-check .form-check-label {
  padding-left: 0;
  padding-right: 1.875rem;
}
.form-check .form-check-label input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.rtl .form-check .form-check-label input {
  left: auto;
  right: 0;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before,
.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  position: absolute;
  top: 0;
  left: 0;
}
.rtl
  .form-check
  .form-check-label
  input[type="checkbox"]
  + .input-helper:before,
.rtl
  .form-check
  .form-check-label
  input[type="checkbox"]
  + .input-helper:after {
  left: auto;
  right: 0;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: solid var(--bs-primary);
  border-width: 2px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  position: absolute;
  top: 2px;
  left: 0;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-family: Material Design Icons;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  content: "\F12C";
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
  top: 1px;
}
.form-check
  .form-check-label
  input[type="checkbox"]:checked
  + .input-helper:before {
  background: var(--bs-primary);
  border-width: 0;
}
.form-check
  .form-check-label
  input[type="checkbox"]:checked
  + .input-helper:after {
  width: 18px;
  opacity: 1;
  line-height: 18px;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  color: black;
}
.form-check
  .form-check-label
  input[type="checkbox"]:disabled
  + .input-helper:before {
  border-color: #2c2e33;
}
.form-check
  .form-check-label
  input[type="checkbox"]:disabled:checked
  + .input-helper:after {
  background: #2c2e33;
  color: #ffffff;
}
.form-check .form-check-label input[type="radio"] + .input-helper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: solid var(--bs-primary);
  border-width: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.rtl .form-check .form-check-label input[type="radio"] + .input-helper:before {
  left: auto;
  right: 0;
}
.form-check .form-check-label input[type="radio"] + .input-helper:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
}
.rtl .form-check .form-check-label input[type="radio"] + .input-helper:after {
  left: auto;
  right: 6px;
}
.form-check
  .form-check-label
  input[type="radio"]:checked
  + .input-helper:before {
  background: var(--bs-primary);
  border-width: 0;
}
.form-check
  .form-check-label
  input[type="radio"]:checked
  + .input-helper:after {
  opacity: 1;
  line-height: 1.5;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.form-check
  .form-check-label
  input[type="radio"]:disabled
  + .input-helper:before {
  border-color: #2c2e33;
}
.form-check
  .form-check-label
  input[type="radio"]:disabled:checked
  + .input-helper:before {
  background: #2c2e33;
}
.form-check
  .form-check-label
  input[type="radio"]:disabled:checked
  + .input-helper:after {
  background: #ffffff;
}

.form-check-primary.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-primary.form-check
  label
  input[type="radio"]
  + .input-helper:before {
  border-color: theme-color(primary);
}

.form-check-primary.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-primary.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: var(--bs-primary);
}

.form-check-secondary.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-secondary.form-check
  label
  input[type="radio"]
  + .input-helper:before {
  border-color: theme-color(secondary);
}

.form-check-secondary.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-secondary.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #e4eaec;
}

.form-check-success.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-success.form-check
  label
  input[type="radio"]
  + .input-helper:before {
  border-color: theme-color(success);
}

.form-check-success.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-success.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #00d25b;
}

.form-check-info.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-info.form-check label input[type="radio"] + .input-helper:before {
  border-color: theme-color(info);
}

.form-check-info.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-info.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #8f5fe8;
}

.form-check-warning.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-warning.form-check
  label
  input[type="radio"]
  + .input-helper:before {
  border-color: theme-color(warning);
}

.form-check-warning.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-warning.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #ffab00;
}

.form-check-danger.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-danger.form-check label input[type="radio"] + .input-helper:before {
  border-color: theme-color(danger);
}

.form-check-danger.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-danger.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #fc424a;
}

.form-check-light.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-light.form-check label input[type="radio"] + .input-helper:before {
  border-color: theme-color(light);
}

.form-check-light.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-light.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #ffffff;
}

.form-check-dark.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-dark.form-check label input[type="radio"] + .input-helper:before {
  border-color: theme-color(dark);
}

.form-check-dark.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-dark.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #0d0d0d;
}

.form-check-muted.form-check
  label
  input[type="checkbox"]
  + .input-helper:before,
.form-check-muted.form-check label input[type="radio"] + .input-helper:before {
  border-color: #6c7293;
}

.form-check-muted.form-check
  label
  input[type="checkbox"]:checked
  + .input-helper:before,
.form-check-muted.form-check
  label
  input[type="radio"]:checked
  + .input-helper:before {
  background: #6c7293;
}