/* === Import Bootstrap functions and variables === */

@import "bsdark.css";
@import url("./core.css");
@import url("./components.css");
@import url("./common.css");
.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  border-color: #2c2e33;
  padding: 0.56rem 0.75rem;
  color: #4b5564;
  background: none;
}

.form-control,
.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="number"],
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-search__field,
.typeahead,
.tt-query,
.tt-hint {
  border: 1px solid #2c2e33;
  height: calc(2.25rem + 2px);
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.6875rem;
  background-color: #2a3038;
  border-radius: 2px;
  color: #ffffff;
}
.form-control:focus,
.asColorPicker-input:focus,
.dataTables_wrapper select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="number"],
.select2-container--default .select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  .select2-search__field:focus,
.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
  border: 1px solid rgba(71, 164, 172, 0.5); /*1px solid rgba(71, 164, 71, 0.5);*/
  background-color: #2a3038;
}

select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
  padding: 0.4375rem 0.75rem;
  border: 0;
  color: #4b5564;
}

/* Tables */
.table,
.jsgrid .jsgrid-table {
  margin-bottom: 0;
  color: #9c9c9c;
}
.table thead th,
.jsgrid .jsgrid-table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  color: #6c7293;
  color: silver;
}

.table > :not(:last-child) > :last-child > *,
.jsgrid .jsgrid-table > :not(:last-child) > :last-child > *,
.jsgrid .jsgrid-table > :not(:last-child) > :last-child > * {
  border-bottom-color: #2c2e33;
}



.nav-tabs .nav-link {
  background: #000000;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #2c2e33;
  padding: 0.75rem 1.5rem;
}


.nav-pills {
  border-bottom: 1px solid #2c2e33;
  padding-bottom: 1rem;
}

.tab-content.tab-content-vertical {
  border-top: 1px solid #2c2e33;
}

.list-wrapper ul li {
  font-size: 0.9375rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid #2c2e33;
}

.context-menu-list .context-menu-item.context-menu-hover {
  background: #000000;
}


.select2-container--default .select2-selection--single,
.select2-container--default .select2-dropdown,
.select2-container--default .select2-selection--multiple {
  border-color: #2c2e33;
  background: #000000;
}

.swal2-modal .swal2-title {
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  font-weight: initial;
  margin-bottom: 0;
}

/* Tags */
div.tagsinput {
  padding: 15px 15px 10px;
  border-color: #2c2e33;
}
div.tagsinput span.tag {
  background: var(--bs-primary);
  border: 0;
  color: color(white);
  padding: 6px 14px;
  font-size: 0.8125rem;
  font-family: inherit;
  line-height: 1;
}
div.tagsinput span.tag a {
  color: color(white);
}

/* === Landing screens === */
/* Auth */
.auth.login-bg {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  background-size: cover;
}

@import url("./authScreen.css");

/* Navbar */
.navbar {
  font-weight: normal;
  background: #191c24;
  transition: left 0.25s ease;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
}

.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item:hover {
  color: #fff;
}

/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  background: #191c24;
  font-weight: normal;
  padding: 0;
  width: 244px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8rem 10px 0.8rem 1.188rem;
  color: #6c7293;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  height: 46px;
  border-radius: 0px 100px 100px 0px;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1rem;
  line-height: 1;
  margin-left: auto;
  color: #bba8bff5;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f22c";
  font-size: inherit;
  color: inherit;
}

.sidebar .nav .menu-items .nav-link .menu-icon i {
  color: color(white);
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -244px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas.active {
    right: 0;
  }
}

.sidebar-tinted .sidebar {
  background: #fa424a;
}
.sidebar-tinted .sidebar .sidebar-brand-wrapper {
  background: #fa424a;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link {
  color: #ffffff;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link .menu-icon i {
  color: white;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link i.menu-arrow {
  color: rgba(255, 255, 255, 0.36);
}
.sidebar-tinted .sidebar .nav .nav-item.active > .nav-link {
  background: rgba(12, 14, 14, 0.1);
}
.sidebar-tinted .sidebar .nav .nav-item.active:before {
  background: #ffffff;
}
.sidebar-tinted
  .sidebar
  .nav
  .nav-item.profile
  .profile-desc
  .profile-name
  span {
  color: #ffffff;
}
.sidebar-tinted
  .sidebar
  .nav
  .nav-item.profile
  .profile-desc
  .mdi-dots-vertical {
  color: #ffffff;
}
.sidebar-tinted
  .sidebar
  .nav
  .nav-item.profile
  .profile-pic
  .count-indicator
  .count {
  border: 2px solid #fa424a;
}
.sidebar-tinted .sidebar .nav.sub-menu .nav-item .nav-link:hover {
  font-weight: 500;
}
.sidebar-tinted
  .sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-category):not(.account-dropdown)
  > .nav-link {
  background: rgba(12, 14, 14, 0.1);
}

/* Layouts */
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 70px;
}

@media (min-width: 992px) {

  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #0f1015;
    padding: 0.5rem 1.4rem;
    left: 70px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1.8;
  }
  .sidebar-dark.sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title {
    background: #0f1015;
  }

  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    display: block;
    padding: 0.5rem 0;
    background: #0f1015;
    border-radius: 0 0 5px 0;
    position: absolute;
    left: 70px;
    width: 190px;
  }
}
