/* === Import Bootstrap functions and variables === */

@import "bslight.css";
@import url("./core.css");
@import url("./components.css");
@import url("./common.css");

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  border-color: #d9dee3;
  padding: 0.56rem 0.75rem;
  color: #4b5564;
  background: none;
}

.form-control,
.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type="number"],
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-search__field,
.typeahead,
.tt-query,
.tt-hint {
  border: 1px solid #d9dee3;
  height: calc(2.25rem + 2px);
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.6875rem;
  background-color: #fff;
  border-radius: 2px;
  color: #000;
}
.form-control:focus,
.asColorPicker-input:focus,
.dataTables_wrapper select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="number"],
.select2-container--default .select2-selection--single:focus,
.select2-container--default
  .select2-selection--single
  .select2-search__field:focus,
.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
  border: 1px solid rgba(71, 164, 71, 0.5);
  background-color: #f2f2f2;
}

select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
  padding: 0.4375rem 0.75rem;
  color: #4b5564;
}


/* Tables */
.table,
.jsgrid .jsgrid-table {
  margin-bottom: 0;
  color: #6c7293;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #3d4752;
  --bs-table-striped-bg: #f9fafb;
  --bs-table-active-color: #3d4752;
  --bs-table-active-bg: rgba(67, 89, 113, 0.1);
  --bs-table-hover-color: #3d4752;
  --bs-table-hover-bg: rgba(67, 89, 113, 0.06);
  width: 100%;
  margin-bottom: 1rem;
  color: #3d4752;
  vertical-align: middle;
  border-color: #d9dee3;
}

.table thead th,
.jsgrid .jsgrid-table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  color: var(--bs-primary);
}

.nav-tabs .nav-link {
  background: #eeeeee;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #2c2e33;
  padding: 0.75rem 1.5rem;
}

.nav-pills {
  border-bottom: 1px solid #d9dee3;
  padding-bottom: 1rem;
}

.tab-content.tab-content-vertical {
  border-top: 1px solid #d9dee3;
}

.list-wrapper ul li {
  font-size: 0.9375rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid #d9dee3;
}
.context-menu-list .context-menu-item.context-menu-hover {
  background: #eeeeee;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-dropdown,
.select2-container--default .select2-selection--multiple {
  border-color: #2c2e33;
  background: #eeeeee;
}
.select2-container--default .select2-selection--single .select2-search__field,
.select2-container--default .select2-dropdown .select2-search__field,
.select2-container--default
  .select2-selection--multiple
  .select2-search__field {
  border-color: #2c2e33;
}

.select2-container--default .select2-selection--single {
  height: auto;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #ffffff;
  line-height: 14px;
}

.select2-container--default .select2-dropdown {
  font-size: 0.8125rem;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: #2c2e33;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  color: color(white);
  border: 0;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.625rem;
  font-family: inherit;
  line-height: 1;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice
  .select2-selection__choice__remove {
  color: color(white);
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:nth-child(5n + 1) {
  background: var(--bs-primary);
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:nth-child(5n + 2) {
  background: #00d25b;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:nth-child(5n + 3) {
  background: #8f5fe8;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:nth-child(5n + 4) {
  background: #fc424a;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:nth-child(5n + 5) {
  background: #ffab00;
}

/* SweetAlert */
.swal2-container {
  z-index: 1500;
}

.swal2-modal {
  min-height: 315px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
}
.swal2-modal .swal2-title {
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
  font-weight: initial;
  margin-bottom: 0;
}
.swal2-modal .swal2-icon,
.swal2-modal .swal2-success-ring {
  margin-top: 0;
  margin-bottom: 42px;
}
.swal2-modal .swal2-buttonswrapper {
  margin-top: 0;
  padding: 0;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled {
  margin-top: 0;
  font-weight: initial;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm {
  font-weight: initial;
  margin-top: 32px;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel {
  margin-top: 32px;
  border: 1px solid #2c2e33;
  color: #ffffff;
  font-weight: initial;
}
.swal2-modal .swal2-content {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  font-weight: initial;
  margin-top: 11px;
}
.swal2-modal .swal2-close {
  font-size: 20px;
}
.swal2-modal .swal2-success-ring {
  left: -30px;
}

/* === Landing screens === */
/* Auth */
.auth.login-bg {
  background: linear-gradient(
    181.2deg,
    #2e8ec2 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  background-size: cover;
}

@import url("./authScreen.css");

/* Navbar */
.navbar {
  font-weight: normal;
  background: var(--bs-primary);
  left: 244px;
  transition: left 0.25s ease;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
}

.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item:hover {
  color: #191c24;
}
/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  /*background: #191c24;*/
  background: var(--bs-primary);
  font-weight: normal;
  padding: 0;
  width: 244px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
  width: calc(70px - 30px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8rem 10px 0.8rem 1.188rem;
  color: #fff;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  height: 46px;
  border-radius: 0px 100px 100px 0px;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1rem;
  line-height: 1;
  margin-left: auto;
  color: #fff;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f22c";
  font-size: inherit;
  color: var(--bs-primary);
}

@media (min-width: 992px) {

  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: var(--bs-gray-500);
    padding: 0.5rem 1.4rem;
    left: 70px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1.8;
  }
  .sidebar-dark.sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title {
    background: var(--bs-gray-500);
  }

  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    display: block;
    padding: 0.5rem 0;
    background: var(--bs-gray-500);
    border-radius: 0 0 5px 0;
    position: absolute;
    left: 70px;
    width: 190px;
  }
}
